@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

.signature{
	font-variant: small-caps;
	margin-top: 2em;
	text-align: right;
}

.tomb{
	text-align: center;
	text-transform: uppercase;
	margin: 1em 0;
}

header p{
	margin: 1em;
	text-indent: 0;
	font-variant: small-caps;
}

p.headline{
	font-size: 1.25em;
}

section[epub|type~="chapter"] section{
	margin-top: 3em;
	margin-bottom: 3em;
}

[epub|type~="z3998:valediction"] .signature{
	font-style: normal;
	font-variant: small-caps;
	margin: 0;
}

[epub|type~="z3998:valediction"],
[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="se:letter.dateline"] + *{
	text-indent: 0;
}

p[epub|type~="z3998:valediction"]{
	margin: 1.5em;
}

section[epub|type~="z3998:diary"] + *,
blockquote[epub|type~="z3998:letter"] + *,
section[epub|type~="preface"]{
	margin-top: 3em;
}

blockquote{
	margin: 0;
}

blockquote blockquote{
	margin: 1em;
}

blockquote[epub|type~="z3998:diary-entry"] + blockquote[epub|type~="z3998:diary-entry"]::before{
	border-top: 1px solid;
	content: '';
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

p[epub|type~="z3998:salutation"],
p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

.end{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: center;
}
